<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPersonServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.AddPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginforAndroidServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.LoginforAndroidServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RenZhenServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.RenZhenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRenServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.GetRenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LevelServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.LevelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TouziServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.TouziServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.TypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyProjectServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.MyProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetTroubleServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.GetTroubleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoPageServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.NoPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>com.findproject.web.servlet.SettingServlet</servlet-class>
  </servlet>














  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/servlet/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/servlet/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPersonServlet</servlet-name>
    <url-pattern>/servlet/AddPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginforAndroidServlet</servlet-name>
    <url-pattern>/servlet/LoginAnd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenZhenServlet</servlet-name>
    <url-pattern>/servlet/RenZhenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRenServlet</servlet-name>
    <url-pattern>/servlet/GetRenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LevelServlet</servlet-name>
    <url-pattern>/servlet/LevelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TouziServlet</servlet-name>
    <url-pattern>/servlet/TouziServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/servlet/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyProjectServlet</servlet-name>
    <url-pattern>/servlet/MyProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTroubleServlet</servlet-name>
    <url-pattern>/servlet/GetTroubleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoPageServlet</servlet-name>
    <url-pattern>/servlet/NoPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/servlet/SettingServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
